<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
  executionOrder="random"
  resolveDependencies="true"
  bootstrap="vendor/autoload.php"
  colors="true"
>
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>integration</group>
    </exclude>
  </groups>
  <php>
    <env name="CDEK_BASE_URL" value="http://integration.edu.cdek.ru"/>
    <ini name="date.timezone" value="UTC"/>
  </php>
</phpunit>
